extends layout

block content
  #header
    p
      a(href='/') Just Another Trail Map
  #wrapper
    #left
      h1 #{info.trailname}
      p
        | Location: #{info.location}
        br
        |  Date: #{info.date}
        br
        |  Elapsed time: #{info.time}
        br
        |  Distance: #{info.distance} miles
        br
        |  User: #{info.user}
        br
        | Description: #{info.description}
        br

      if info.owner
        p
          a(href="/trail/#{info._id}/edit") Edit
          br
          a(onclick="deleteTrail('/trail/#{info._id}'); return false;" href="/trail/#{info._id}" ) Delete
          br
          span(name='err', id='err')
          br
          | Permissions: 
          if (info.access == 'group')
            | Group
            br
            | Groups: 
            each group, i in groups
               a(href="/editgroup/#{group._id}") #{group.name}
               |  &nbsp;
          else if (info.access == 'public')
            | Public
          else if (info.access == 'private')
            | Private
          br
          a(href="/trail/#{info._id}/permissions") Edit permissions for this trail
      p
        = '   '
        a(href='/') Main page

    #right
      #loading
        img(src="/img/loader.gif" width=50 height=50) 
      #canvas

  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkohyGWwhivFD0oijRDxD8EmyLGfCpXtw")
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/js/cli-trail.js')
