extends layout

block content
  #header
    p Just Another Trail Map
  #wrapper
    #left
      h1 #{info.trailname}
      p
        | Location: #{info.location}
        br
        |  Date to hiked: #{info.date}
        br
        |  Elapsed time: #{info.time}
        br
        |  Distance: #{info.distance} miles
        br
        |  User: #{info.user}
        br
        | Description: #{info.description}
        br
        span(name='err', id='err')

    #right

      #canvas

  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src="http://maps.googleapis.com/maps/api/js")
  //  script(src="http://maps.googleapis.com/maps/api/js?key=YOUR_KEY"></script>
